body {
    font-family: Arial;
    background: lightblue;
    text-align: center;
    padding: 50px;
}

.caja {
    background: white;
    max-width: 550px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #4CAF50;
    color: white;
}