*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f3f3f3;
}

.contenedor-restaurante{
    width:900px;
    margin:40px auto;
}

.caja-restaurante{
    border-left:3px solid #8c633f;
    border-right:1px solid #c9c9c9;
    padding:40px;
    margin-bottom:50px;
    background:white;
}

.caja-restaurante h1{
    color:#c08b67;
    margin-bottom:30px;
    font-size:40px;
}

.form-reserva,
.form-contacto,
.form-resena{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.form-reserva input,
.form-contacto input{
    width:48%;
    border:1px solid #ccc;
    padding:10px;
}

.form-contacto .fila-contacto{
    width:100%;
    display:flex;
    gap:20px;
}

.form-contacto .fila-contacto input{
    width:33%;
}

.form-reserva textarea,
.form-contacto textarea,
.form-resena textarea{
    width:100%;
    height:150px;
    padding:10px;
}

button{
    background:#b7835a;
    color:white;
    border:none;
    padding:15px 30px;
    margin-top:20px;
    cursor:pointer;
}

.form-resena{
    flex-direction:column;
}

.form-resena input,
.form-resena select{
    padding:10px;
}