
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin: 20px;
        }

        h1 {
            color: darkred;
            text-align: center;
        }

        h2 {
            color: brown;
            text-align: center;
        }

        ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}



        li {
            margin: 5px 0;
            
        }

        img {
            display: block;
            margin: 20px auto;
            border-radius: 5px;
        }

        p {
            text-align: center;
        }

        a {
            color: darkred;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
  