
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #f9f9f9;
}

.cabecera {
    text-align: center;
    padding: 30px;
    color: #b37a5c;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.formulario-reserva {
    background-color: #ffffff;
    padding: 40px;
    width: 700px;
    border: 1px solid #ddd;
}


.formulario .fila {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.campo {
    flex: 1;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.campo textarea {
    height: 100px;
    resize: none;
}

.campo-textarea {
    flex: 100%;
}


.boton {
    justify-content: center;
}

button {
    background-color: #b37a5c;
    color: #fff;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #9c654a;
}


.politica {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.politica a {
    color: #555;
    text-decoration: underline;
}

.pie {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #777;
}
