body {
    font-family: Arial;
    padding: 20px;
}

.titulo-activo {
    font-size: 30px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}