body {
    font-family: Arial;
    background: lightblue;
    text-align: center;
    padding: 50px;
}

.caja {
    background: white;
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    display: none;
}